
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title> Vehicle position </title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css" media="screen">

    <link rel="stylesheet" type="text/css" href="style.css" media="screen">
  </head>
  <body>
    <div class="container">


      

      <div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
	  <div>
	    <div id="map"> </div>
	  </div>
	</div>
	<div class="col-xs-6 col-md-4">

	  <ul class="list-group">
	    <% for(var i=0; i<vehs.length; i++) {%>
	       <li class="list-group-item" id="<%= vehs[i].idv%>">
		 <div class="coll vehsign" id="<%= vehs[i].idv%>-sign">
		   <%= vehs[i].vehsign %>
		 </div>
		 <div class="coll co" id="<%= vehs[i].idv%>-distance"></div>
		 <div class="coll co" id="<%= vehs[i].idv%>-duration"></div>
		 <div class="sg" id="<%= vehs[i].idv%>-sg"> </div>
		 <input type="hidden" name="lat" id="<%= vehs[i].idv%>-lat" value="<%= vehs[i].lat%>"/>
		 <input type="hidden" name="lon" id="<%= vehs[i].idv%>-lon" value="<%= vehs[i].lon%>"/>
	       </li>
	    <% } %>
	  </ul>

	</div>
      </div>

      <input type="hidden" name="lat" id="hlat" value="<%= data.originlat%>"/>
      <input type="hidden" name="lon" id="hlon" value="<%= data.originlon%>"/>

    </div>
    <script src="jquery.js"></script>
    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNUHy1uN_5F07POiMQBtGXcjSEeCixZb4&callback=initialize">
    </script>
    <script src="main.js"></script>
    <script src="gmap.js"></script>
  </body>
</html>
